# Dependencies
node_modules/

# Build output
dist/
.output/
out/
release/

# Turbo
.turbo/

# Local env files
.env
.env.keys
.env.local
.env.docker
deploy/digitalocean-app.rendered.json

# Editor
.idea/

# OS
.DS_Store
