# Dependencies
node_modules/

# Build output
dist/
.output/
out/
release/

# Turbo
.turbo/

# Local env files
.env
.env.keys
.env.local
.env.docker
deploy/digitalocean-app.rendered.json

# Editor
.idea/

# OS
.DS_Store

# Local PGlite data (created by the API when DATABASE_URL is unset)
apps/api/data/
